<%layout('layout') -%>
<h1>User Page</h1>
<h2>Name: <%= user.name%></h2>
<h2>Surname: <%= user.surname%></h2>
<h2>Gender: <%= user.gender%></h2>
<h2>Email: <%= user.email%></h2>
<a href="/login" class="login">Sign Out</a>
